# EC1B1 Group project

In [67]:
# Downloading the data

import requests
import pandas as pd
from io import StringIO

# Google Sheets details
SHEET_ID = "1VnzB2MO5jEBzXqtkA0i_oNtONzOIg9y3I5nU1fB6DwU"
# List of sheets and their GIDs (Find these manually or automate if needed)
SHEET_GIDS = {
    "Sheet1": "0",  
    "Sheet2": "1811506178",
    "Sheet3": "1443003215"
}

dfs = {}

# Loop through each sheet and fetch data
for sheet_name, gid in SHEET_GIDS.items():
    url = f"https://docs.google.com/spreadsheets/d/{SHEET_ID}/export?format=csv&gid={gid}"
    response = requests.get(url)

    if response.status_code == 200:
        df = pd.read_csv(StringIO(response.text))  # Convert CSV text to DataFrame
        dfs[sheet_name] = df
        print(f"Extracted: {sheet_name} ✅")
    else:
        print(f"Failed to extract {sheet_name}, Status Code: {response.status_code}")

# Display extracted DataFrames
#print("Extracted Sheets:", dfs.keys())

# Example: Print first few rows of a sheet
#print(dfs["Sheet2"].head())  # Change "Sheet1" to the actual sheet name

germany_data=dfs["Sheet1"]
us_data=dfs["Sheet2"]
data=dfs['Sheet3']

Extracted: Sheet1 ✅
Extracted: Sheet2 ✅
Extracted: Sheet3 ✅

In [68]:
# processing germany data
df = germany_data.drop(columns='Germany').T
df.columns = df.iloc[0]  # Set the first row as column headers
df = df[1:]
df["Country"] = "Germany"
df

"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, Gold (Including Gold Deposits and, If Appropriate, Gold Swapped), US Dollar","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Country
32.5,4.2,"2,637.32 M","4,811.47 M",24.62,Germany
31.19,4.2,"2,637.99 M","4,724.16 M",24.62,Germany
31.04,4.2,"2,651.99 M","4,806.36 M",24.48,Germany
32.2,4.2,"2,670.01 M","4,966.46 M",24.48,Germany
34.29,4.2,"2,704.00 M","5,236.12 M",24.62,Germany
33.73,4.2,"2,740.99 M","5,417.09 M",24.69,Germany
34.4,4.2,"2,772.00 M","5,843.77 M",24.69,Germany
32.35,4.2,"2,817.99 M","6,124.73 M",24.69,Germany
31.15,4.2,"2,879.00 M","6,358.68 M",24.69,Germany
34.66,4.2,"2,889.01 M","6,643.27 M",24.62,Germany
35.89,4.2,"2,915.01 M","6,878.95 M",24.69,Germany
37.27,4.2,"2,943.01 M","6,909.72 M",24.76,Germany
36.04,4.2,"2,971.26 M","7,053.74 M",24.76,Germany

In [69]:
us_data

,USA,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","21,504.50 M","21,478.10 M","21,395.70 M","21,344.70 M","21,278.00 M","21,234.30 M","21,169.80 M","20,999.40 M","20,803.40 M","20,430.00 M","20,068.20 M","19,558.20 M","19,358.80 M"
0,NaN,"Prices, Consumer Price Index, All items, Index",13.48,13.44,13.48,13.48,13.53,13.53,13.57,13.57,13.57,13.57,13.67,13.67,13.67

In [70]:
# processing us data
df2 = us_data.drop(columns='USA').T
df2.columns = df2.iloc[0]  # Set the first row as column headers
df2 = df2[1:]
df2["Country"] = "USA"
df2

"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index",Country
"21,504.50 M",13.48,USA
"21,478.10 M",13.44,USA
"21,395.70 M",13.48,USA
"21,344.70 M",13.48,USA
"21,278.00 M",13.53,USA
"21,234.30 M",13.53,USA
"21,169.80 M",13.57,USA
"20,999.40 M",13.57,USA
"20,803.40 M",13.57,USA
"20,430.00 M",13.57,USA
"20,068.20 M",13.67,USA
"19,558.20 M",13.67,USA
"19,358.80 M",13.67,USA

In [71]:
# processing data

# data['Country'][0]='Germany'

data.loc[:3, "Country"] = "Germany"
data.loc[4:5, "Country"] = "USA"
data = data.drop(columns='Unnamed: 0')

data

,Unnamed: 1,Dec 1959,Jan 1960,Feb 1960,Mar 1960,Apr 1960,May 1960,Jun 1960,Jul 1960,Aug 1960,Sep 1960,Oct 1960,Nov 1960,Dec 1960,Country
0,"Economic Activity, Industrial Production, Index",32.5,31.19,31.04,32.2,34.29,33.73,34.4,32.35,31.15,34.66,35.89,37.27,36.04,Germany
1,"Exchange Rates, National Currency Per U.S. Dol...",4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,Germany
2,"International Reserves and Liquidity, Reserves...","4,811.47Â M","4,724.16Â M","4,806.36Â M","4,966.46Â M","5,236.12Â M","5,417.09Â M","5,843.77Â M","6,124.73Â M","6,358.68Â M","6,643.27Â M","6,878.95Â M","6,909.72Â M","7,053.74Â M",Germany
3,"Prices, Consumer Price Index, All items, Index",24.62,24.62,24.48,24.48,24.62,24.69,24.69,24.69,24.69,24.62,24.69,24.76,24.76,Germany
4,"International Reserves and Liquidity, Reserves...","21,504.50Â M","21,478.10Â M","21,395.70Â M","21,344.70Â M","21,278.00Â M","21,234.30Â M","21,169.80Â M","20,999.40Â M","20,803.40Â M","20,430.00Â M","20,068.20Â M","19,558.20Â M","19,358.80Â M",USA
5,"Prices, Consumer Price Index, All items, Index",13.48,13.44,13.48,13.48,13.53,13.53,13.57,13.57,13.57,13.57,13.67,13.67,13.67,USA

In [72]:
df = data
# Convert column headers into a row
df = pd.DataFrame(df.values, columns=["Header"] * len(df.columns))

# Add the original column names as a new row
df.loc[-1] = df.columns.tolist()

# Reset index to make the new row the first row
df = df.reset_index(drop=True)

# Print the result
df

,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header
0,"Economic Activity, Industrial Production, Index",32.5,31.19,31.04,32.2,34.29,33.73,34.4,32.35,31.15,34.66,35.89,37.27,36.04,Germany
1,"Exchange Rates, National Currency Per U.S. Dol...",4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,4.2,Germany
2,"International Reserves and Liquidity, Reserves...","4,811.47Â M","4,724.16Â M","4,806.36Â M","4,966.46Â M","5,236.12Â M","5,417.09Â M","5,843.77Â M","6,124.73Â M","6,358.68Â M","6,643.27Â M","6,878.95Â M","6,909.72Â M","7,053.74Â M",Germany
3,"Prices, Consumer Price Index, All items, Index",24.62,24.62,24.48,24.48,24.62,24.69,24.69,24.69,24.69,24.62,24.69,24.76,24.76,Germany
4,"International Reserves and Liquidity, Reserves...","21,504.50Â M","21,478.10Â M","21,395.70Â M","21,344.70Â M","21,278.00Â M","21,234.30Â M","21,169.80Â M","20,999.40Â M","20,803.40Â M","20,430.00Â M","20,068.20Â M","19,558.20Â M","19,358.80Â M",USA
5,"Prices, Consumer Price Index, All items, Index",13.48,13.44,13.48,13.48,13.53,13.53,13.57,13.57,13.57,13.57,13.67,13.67,13.67,USA
6,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header,Header